asciitree==0.3.3
certifi==2024.12.14
cftime==1.6.4.post1
click==8.1.8
cloudpickle==3.1.1
dask==2025.2.0
dask-jobqueue==0.9.0
Deprecated==1.2.15
distributed==2025.2.0
fasteners==0.19
fastparquet
fsspec==2024.12.0
h5py==3.13.0
importlib_metadata==8.6.1
Jinja2==3.1.6
kerchunk==0.2.7
locket==1.0.0
MarkupSafe==3.0.2
msgpack==1.1.0
netCDF4==1.7.2
numcodecs==0.15.0
numpy==2.2.2
packaging==24.2
pandas==2.2.3
partd==1.4.2
psutil==7.0.0
pytest
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
ruff==0.9.2
six==1.17.0
sortedcontainers==2.4.0
tblib==3.0.0
toolz==1.0.0
tornado==6.5
tzdata==2025.1
ujson==5.10.0
urllib3==2.3.0
wrapt==1.17.2
xarray==2025.1.1
zarr==2.18.4
zict==3.0.0
zipp==3.21.0
